.elementor-199 .elementor-element.elementor-element-1ae276e>.elementor-container {
    min-height: 450px;
}

.elementor-199 .elementor-element.elementor-element-1ae276e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-199 .elementor-element.elementor-element-1ae276e:not(.elementor-motion-effects-element-type-background),
.elementor-199 .elementor-element.elementor-element-1ae276e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-199 .elementor-element.elementor-element-1ae276e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-199 .elementor-element.elementor-element-1ae276e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-199 .elementor-element.elementor-element-3bda87e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-199 .elementor-element.elementor-element-973edd3 {
    color: #FFFFFF;
}

.elementor-199 .elementor-element.elementor-element-1cd2338 {
    color: #FFFFFF;
}

.elementor-199 .elementor-element.elementor-element-39e148d {
    color: #FFFFFF;
}

.elementor-199 .elementor-element.elementor-element-39e148d>.elementor-widget-container {
    margin: 0px 0px 0px 40px;
    padding: 0px 0px 0px 0px;
}

.elementor-199 .elementor-element.elementor-element-e89cc2c {
    color: #FFFFFF;
}

.elementor-199 .elementor-element.elementor-element-e89cc2c>.elementor-widget-container {
    margin: 0px 0px 0px 30px;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-199 .elementor-element.elementor-element-66312af .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-199 .elementor-element.elementor-element-66312af .e-form__buttons__wrapper__button-next {
    background-color: #000000;
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af .e-form__buttons__wrapper__button-previous {
    background-color: #046A62;
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-66312af {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-199 .elementor-element.elementor-element-307980b .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-199 .elementor-element.elementor-element-307980b .e-form__buttons__wrapper__button-next {
    background-color: #000000;
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b .e-form__buttons__wrapper__button-previous {
    background-color: #046A62;
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-199 .elementor-element.elementor-element-307980b {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-199 .elementor-element.elementor-element-5358a65:not(.elementor-motion-effects-element-type-background),
.elementor-199 .elementor-element.elementor-element-5358a65>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-199 .elementor-element.elementor-element-5358a65 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #C6C6C6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-199 .elementor-element.elementor-element-5358a65>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-199 .elementor-element.elementor-element-ae5a2fd {
    text-align: center;
}

@media(max-width:767px) {
    .elementor-199 .elementor-element.elementor-element-3bda87e {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .elementor-199 .elementor-element.elementor-element-307980b>.elementor-widget-container {
        padding: 30px 30px 30px 30px;
    }
}