.elementor-9 .elementor-element.elementor-element-4152f3d>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-repeater-item-183200c .swiper-slide-bg {
    background-image: url(../../2024/03/MuskTeslaThumb.webp);
    background-size: cover;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-repeater-item-183200c .elementor-background-overlay {
    background-color: #0000004A;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-repeater-item-b08cbe0 .swiper-slide-bg {
    background-image: url(../../2024/03/good-inve.jpg);
    background-size: cover;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-repeater-item-b08cbe0 .elementor-background-overlay {
    background-color: #0000004A;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-repeater-item-4bec193 .swiper-slide-bg {
    background-image: url(../../2024/03/gettyimages-1096056680.webp);
    background-size: cover;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-repeater-item-4bec193 .elementor-background-overlay {
    background-color: #0000004A;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .swiper-slide {
    height: 700px;
    transition-duration: calc(5000ms*1.2);
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .swiper-slide-inner {
    text-align: left;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-slide-heading {
    font-family: "Roboto", Sans-serif;
    font-size: 60px;
    font-weight: 800;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-slide-description {
    font-family: "Roboto Slab", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-slide-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    border-radius: 20px;
}

.elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-swiper-button {
    font-size: 30px;
}

.elementor-9 .elementor-element.elementor-element-e7b1503 {
    margin-top: 40px;
    margin-bottom: 70px;
}

.elementor-9 .elementor-element.elementor-element-868a020 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-bb3942c {
    text-align: center;
}

.elementor-9 .elementor-element.elementor-element-107e210>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9 .elementor-element.elementor-element-107e210:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-107e210>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-107e210>.elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-107e210 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c98016c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c98016c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-a0541e5>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9 .elementor-element.elementor-element-a0541e5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-a0541e5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-a641faa>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 1px 1px 1px 1px;
}

.elementor-9 .elementor-element.elementor-element-a641faa>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-7f28e73 .elementor-wrapper {
    --video-aspect-ratio: 1;
}

.elementor-9 .elementor-element.elementor-element-7f28e73>.elementor-widget-container {
    background-color: #046A62;
}

.elementor-9 .elementor-element.elementor-element-6c2f6bd>.elementor-widget-container {
    margin: -250px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-991f4cf .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-9 .elementor-element.elementor-element-991f4cf .elementor-image-box-title {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-991f4cf .elementor-image-box-description {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-85ce678 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-9 .elementor-element.elementor-element-85ce678 .elementor-image-box-title {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-85ce678 .elementor-image-box-description {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-d9b4032 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-9 .elementor-element.elementor-element-d9b4032 .elementor-image-box-title {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-d9b4032 .elementor-image-box-description {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-a77d048>.elementor-container {
    min-height: 650px;
}

.elementor-9 .elementor-element.elementor-element-46a672d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-46a672d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-950ca8f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-950ca8f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-b6b9cf0.elementor-position-right .elementor-image-box-img {
    margin-left: 30px;
}

.elementor-9 .elementor-element.elementor-element-b6b9cf0.elementor-position-left .elementor-image-box-img {
    margin-right: 30px;
}

.elementor-9 .elementor-element.elementor-element-b6b9cf0.elementor-position-top .elementor-image-box-img {
    margin-bottom: 30px;
}

.elementor-9 .elementor-element.elementor-element-b6b9cf0 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 96%;
}

.elementor-9 .elementor-element.elementor-element-b6b9cf0 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-9 .elementor-element.elementor-element-b6b9cf0 .elementor-image-box-title {
    color: #5B5B5B;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.elementor-9 .elementor-element.elementor-element-b6b9cf0>.elementor-widget-container {
    padding: 0px 0px 5px 0px;
    background-image: url("../../2023/09/Screenshot-2023-09-03-152258.png");
}

.elementor-9 .elementor-element.elementor-element-2fc93df>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-2fc93df>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-22acd6f.elementor-position-right .elementor-image-box-img {
    margin-left: 30px;
}

.elementor-9 .elementor-element.elementor-element-22acd6f.elementor-position-left .elementor-image-box-img {
    margin-right: 30px;
}

.elementor-9 .elementor-element.elementor-element-22acd6f.elementor-position-top .elementor-image-box-img {
    margin-bottom: 30px;
}

.elementor-9 .elementor-element.elementor-element-22acd6f .elementor-image-box-wrapper .elementor-image-box-img {
    width: 94%;
}

.elementor-9 .elementor-element.elementor-element-22acd6f .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-9 .elementor-element.elementor-element-22acd6f .elementor-image-box-title {
    color: #5B5B5B;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.elementor-9 .elementor-element.elementor-element-22acd6f>.elementor-widget-container {
    padding: 0px 0px 5px 0px;
    background-image: url("../../2023/09/Screenshot-2023-09-03-152258.png");
}

.elementor-9 .elementor-element.elementor-element-822d790.elementor-position-right .elementor-image-box-img {
    margin-left: 30px;
}

.elementor-9 .elementor-element.elementor-element-822d790.elementor-position-left .elementor-image-box-img {
    margin-right: 30px;
}

.elementor-9 .elementor-element.elementor-element-822d790.elementor-position-top .elementor-image-box-img {
    margin-bottom: 30px;
}

.elementor-9 .elementor-element.elementor-element-822d790 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-9 .elementor-element.elementor-element-822d790 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-9 .elementor-element.elementor-element-822d790 .elementor-image-box-title {
    color: #5B5B5B;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.elementor-9 .elementor-element.elementor-element-822d790>.elementor-widget-container {
    padding: 0px 0px 5px 0px;
    background-image: url("../../2023/09/Screenshot-2023-09-03-152258.png");
}

.elementor-9 .elementor-element.elementor-element-497507c>.elementor-container {
    min-height: 300px;
}

.elementor-9 .elementor-element.elementor-element-497507c:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-497507c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/09/shape-11.png");
}

.elementor-9 .elementor-element.elementor-element-497507c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -80px;
    margin-bottom: 20px;
}

.elementor-9 .elementor-element.elementor-element-497507c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-5b731b1 .elementor-counter-number-wrapper {
    color: #C31B24;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-5b731b1 .elementor-counter-title {
    font-family: "Roboto Slab", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-c62cdb5 .elementor-counter-number-wrapper {
    color: #C31B24;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-c62cdb5 .elementor-counter-title {
    font-family: "Roboto Slab", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-cf3fd8b .elementor-counter-number-wrapper {
    color: #C31B24;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-cf3fd8b .elementor-counter-title {
    font-family: "Roboto Slab", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-f5ed39d .elementor-counter-number-wrapper {
    color: #C31B24;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-f5ed39d .elementor-counter-title {
    font-family: "Roboto Slab", Sans-serif;
    font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-fee91e8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9 .elementor-element.elementor-element-fee91e8:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-fee91e8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-fee91e8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-fee91e8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-ec77766>.elementor-container {
    min-height: 500px;
}

.elementor-9 .elementor-element.elementor-element-083e0c9 {
    text-align: center;
}

.elementor-9 .elementor-element.elementor-element-083e0c9>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-c3a6064>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9 .elementor-element.elementor-element-16cac37:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-9 .elementor-element.elementor-element-16cac37>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-16cac37>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-9 .elementor-element.elementor-element-16cac37>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-a490008:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-9 .elementor-element.elementor-element-a490008>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0078A5;
}

.elementor-9 .elementor-element.elementor-element-a490008>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-9 .elementor-element.elementor-element-a490008>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-d82c4ea:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-9 .elementor-element.elementor-element-d82c4ea>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #560069;
}

.elementor-9 .elementor-element.elementor-element-d82c4ea>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-9 .elementor-element.elementor-element-d82c4ea>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c4d9a4a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-9 .elementor-element.elementor-element-c4d9a4a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #008000;
}

.elementor-9 .elementor-element.elementor-element-c4d9a4a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-9 .elementor-element.elementor-element-c4d9a4a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-5c8adaf:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-5c8adaf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/09/pricing-bg.jpg");
    background-size: cover;
}

.elementor-9 .elementor-element.elementor-element-5c8adaf>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-5c8adaf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-f7b6ef1>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .elementor-repeater-item-9e013ff .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .elementor-repeater-item-9e013ff .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .elementor-repeater-item-99f8ec8 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .elementor-repeater-item-99f8ec8 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .elementor-repeater-item-9dfec69 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .elementor-repeater-item-9dfec69 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-button {
    display: inline-block;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing .eael-pricing-item {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #C31B24;
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .header .title {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-3 .eael-pricing-item:hover .header:after {
    background: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-2 .eael-pricing-item .header {
    background: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-4 .eael-pricing-item .header {
    background: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .header .subtitle {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .eael-pricing-tag .price-tag .original-price,
.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #515151;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #424242;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .price-period {
    color: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .body ul li {
    color: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .body ul li .li-icon img {
    height: 20px;
    width: 20px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .body ul li .li-icon svg {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .body ul li .li-icon i {
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing-item .body ul li .li-icon {
    width: 20px;
    height: 20px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon,
.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon {
    background-color: #C31B24;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon i,
.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon i {
    font-size: 40px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon img,
.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon img {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon svg,
.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon svg {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing .eael-pricing-button img {
    height: 16px;
    width: 16px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing .eael-pricing-button svg {
    height: 16px;
    width: 16px;
    fill: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing .eael-pricing-button i {
    font-size: 16px;
}

.elementor-9 .elementor-element.elementor-element-ad67a4e .eael-pricing .eael-pricing-button {
    color: #FFFFFF;
    background: #C31B24;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 20px;
}

.elementor-9 .elementor-element.elementor-element-062713d .elementor-repeater-item-9e013ff .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-062713d .elementor-repeater-item-9e013ff .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-062713d .elementor-repeater-item-99f8ec8 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-062713d .elementor-repeater-item-99f8ec8 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-062713d .elementor-repeater-item-9dfec69 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-062713d .elementor-repeater-item-9dfec69 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-button {
    display: inline-block;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing .eael-pricing-item {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #4544C3;
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-062713d {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .header .title {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-3 .eael-pricing-item:hover .header:after {
    background: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-2 .eael-pricing-item .header {
    background: #4544C3;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-4 .eael-pricing-item .header {
    background: #4544C3;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .header .subtitle {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .eael-pricing-tag .price-tag .original-price,
.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #515151;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #424242;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .eael-pricing-tag .price-tag .sale-price,
.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #4544C3;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #4544C3;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .price-period {
    color: #4544C3;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .body ul li {
    color: #4544C3;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .body ul li .li-icon img {
    height: 20px;
    width: 20px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .body ul li .li-icon svg {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .body ul li .li-icon i {
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing-item .body ul li .li-icon {
    width: 20px;
    height: 20px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon,
.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon {
    background-color: #4544C3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon i,
.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon i {
    font-size: 40px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon img,
.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon img {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon svg,
.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon svg {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing .eael-pricing-button img {
    height: 16px;
    width: 16px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing .eael-pricing-button svg {
    height: 16px;
    width: 16px;
    fill: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing .eael-pricing-button i {
    font-size: 16px;
}

.elementor-9 .elementor-element.elementor-element-062713d .eael-pricing .eael-pricing-button {
    color: #FFFFFF;
    background: #4544C3;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #4544C3;
    border-radius: 20px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .elementor-repeater-item-9e013ff .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .elementor-repeater-item-9e013ff .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .elementor-repeater-item-99f8ec8 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .elementor-repeater-item-99f8ec8 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .elementor-repeater-item-9dfec69 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .elementor-repeater-item-9dfec69 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-button {
    display: inline-block;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing .eael-pricing-item {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #560069;
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .header .title {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-3 .eael-pricing-item:hover .header:after {
    background: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-2 .eael-pricing-item .header {
    background: #560069;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-4 .eael-pricing-item .header {
    background: #560069;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .header .subtitle {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .eael-pricing-tag .price-tag .original-price,
.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #515151;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #424242;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .eael-pricing-tag .price-tag .sale-price,
.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #560069;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #560069;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .price-period {
    color: #560069;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .body ul li {
    color: #560069;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .body ul li .li-icon img {
    height: 20px;
    width: 20px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .body ul li .li-icon svg {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .body ul li .li-icon i {
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing-item .body ul li .li-icon {
    width: 20px;
    height: 20px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon,
.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon {
    background-color: #560069;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon i,
.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon i {
    font-size: 40px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon img,
.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon img {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon svg,
.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon svg {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing .eael-pricing-button img {
    height: 16px;
    width: 16px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing .eael-pricing-button svg {
    height: 16px;
    width: 16px;
    fill: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing .eael-pricing-button i {
    font-size: 16px;
}

.elementor-9 .elementor-element.elementor-element-5380af6 .eael-pricing .eael-pricing-button {
    color: #FFFFFF;
    background: #560069;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #560069;
    border-radius: 20px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .elementor-repeater-item-9e013ff .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .elementor-repeater-item-9e013ff .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .elementor-repeater-item-99f8ec8 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .elementor-repeater-item-99f8ec8 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .elementor-repeater-item-9dfec69 .li-icon i {
    color: #00C853;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .elementor-repeater-item-9dfec69 .li-icon svg {
    color: #00C853 !important;
    fill: #00C853 !important;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-button {
    display: inline-block;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing .eael-pricing-item {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #008000;
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing {
    border-radius: 4px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .header .title {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-3 .eael-pricing-item:hover .header:after {
    background: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-2 .eael-pricing-item .header {
    background: #008000;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-4 .eael-pricing-item .header {
    background: #008000;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .header .subtitle {
    color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .eael-pricing-tag .price-tag .original-price,
.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #515151;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .eael-pricing-tag .price-tag .original-price .price-currency {
    color: #424242;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .eael-pricing-tag .price-tag .sale-price,
.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #008000;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .eael-pricing-tag .price-tag .sale-price .price-currency {
    color: #008000;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .price-period {
    color: #008000;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .body ul li {
    color: #008000;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .body ul li .li-icon img {
    height: 20px;
    width: 20px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .body ul li .li-icon svg {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .body ul li .li-icon i {
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing-item .body ul li .li-icon {
    width: 20px;
    height: 20px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon,
.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon {
    background-color: #008000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon i,
.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon i {
    font-size: 40px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon img,
.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon img {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-2 .eael-pricing-item .eael-pricing-icon .icon svg,
.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing.style-5 .eael-pricing-item .eael-pricing-icon .icon svg {
    height: 40px;
    width: 40px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing .eael-pricing-button img {
    height: 16px;
    width: 16px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing .eael-pricing-button svg {
    height: 16px;
    width: 16px;
    fill: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing .eael-pricing-button i {
    font-size: 16px;
}

.elementor-9 .elementor-element.elementor-element-40f3c3c .eael-pricing .eael-pricing-button {
    color: #FFFFFF;
    background: #008000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 20px;
}

.elementor-9 .elementor-element.elementor-element-81721d2 {
    text-align: center;
}

.elementor-9 .elementor-element.elementor-element-81721d2>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-6b5cc7c {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #046A62;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-6b5cc7c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-635412c .elementor-testimonial__text {
    font-family: "Roboto", Sans-serif;
    font-weight: normal;
}

.elementor-9 .elementor-element.elementor-element-635412c .elementor-testimonial__title {
    color: #C31B24;
}

.elementor-9 .elementor-element.elementor-element-635412c .elementor-swiper-button {
    font-size: 20px;
}

.elementor-9 .elementor-element.elementor-element-635412c .elementor-testimonial__content {
    padding: 20px 20px 20px 20px;
}

.elementor-9 .elementor-element.elementor-element-635412c.elementor-testimonial--layout-image_left .elementor-testimonial__footer,
.elementor-9 .elementor-element.elementor-element-635412c.elementor-testimonial--layout-image_right .elementor-testimonial__footer {
    padding-top: 20px;
}

.elementor-9 .elementor-element.elementor-element-635412c.elementor-testimonial--layout-image_above .elementor-testimonial__footer,
.elementor-9 .elementor-element.elementor-element-635412c.elementor-testimonial--layout-image_inline .elementor-testimonial__footer,
.elementor-9 .elementor-element.elementor-element-635412c.elementor-testimonial--layout-image_stacked .elementor-testimonial__footer {
    padding: 0 20px 0 20px;
}

@media(min-width:1025px) {
    .elementor-9 .elementor-element.elementor-element-5c8adaf:not(.elementor-motion-effects-element-type-background),
    .elementor-9 .elementor-element.elementor-element-5c8adaf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-slide-heading {
        font-size: 50px;
    }
}

@media(max-width:767px) {
    .elementor-9 .elementor-element.elementor-element-0e0d431 .swiper-slide {
        height: 550px;
    }
    .elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-slide-heading {
        font-size: 40px;
    }
    .elementor-9 .elementor-element.elementor-element-0e0d431 .elementor-slide-description {
        font-size: 15px;
    }
    .elementor-9 .elementor-element.elementor-element-ac5b416>.elementor-element-populated {
        margin: 50px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-9 .elementor-element.elementor-element-a77d048 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .elementor-9 .elementor-element.elementor-element-b6b9cf0 .elementor-image-box-img {
        margin-bottom: 30px;
    }
    .elementor-9 .elementor-element.elementor-element-22acd6f .elementor-image-box-img {
        margin-bottom: 30px;
    }
    .elementor-9 .elementor-element.elementor-element-822d790 .elementor-image-box-img {
        margin-bottom: 30px;
    }
    .elementor-9 .elementor-element.elementor-element-497507c {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .elementor-9 .elementor-element.elementor-element-ec77766 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .elementor-9 .elementor-element.elementor-element-c821428 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}